<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="atf"
            name="Automated Testing">
      </category>
      <view
            allowMultiple="true"
            category="atf"
            class="com.jcraft.eclipse.jcterm.JCTermView"
            icon="icons/Crystal_Clear_app_terminal16.png"
            id="com.jcraft.eclipse.jcterm.view"
            name="RAS Recorder">
      </view>
      <view
            category="atf"
            class="org.osehra.eclipse.atfrecorder.views.ExpectedValueView"
            icon="icons/sample.gif"
            id="org.osehra.eclipse.atfrecorder.views.ExpectedValueView"
            name="Expected Value">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
<extension
     point="org.eclipse.ui.services">
  <sourceProvider
        provider="org.osehra.eclipse.atfrecorder.internal.ScreenStateSourceProvider">
     <!--variable
           name="arm.variables.loggedIn"
           priorityLevel="workbench">
     </variable-->
  </sourceProvider>
</extension>

</plugin>
